h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

body {
    color: #333;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: auto auto;
}

.right {
    float: right;
    text-align: right;
}

.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 10px 0;
    background: #3f4a52 no-repeat center center;
}

.navbar-default .navbar-brand {
    display: inline-block;
    width: 260px;
    height: auto;
    padding: 0px;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    display:inline;
}

.navbar-default .navbar-nav .active a {
    background: transparent;
    color: #3d80ba;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav .active a:hover {
    color: #3d80ba;
    background: transparent;
}

.navbar-default .navbar-nav .active a {
    color: #3d80ba;
}

.navbar-toggle {
    background-color: transparent;
    margin-top: 15px;
    margin-right: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.nav {
    padding: 20px 0;
}

#sidebar {
    background: #3f4a52
}

#sidebar .col-md-4 {
    color: #ffffff;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#sidebar a{
    color: #ffffff;
    font-weight: 300;
}

#sidebar h3 {
    font-size: 18px
}

#tags li {
    display: inline-block;
}


#content {

}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
    background: #3f4a52;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
    background: #7b8790;
    color: #ffffff;
    padding: 10px 0;
}

#post-tags a, #tags a {
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 0 5 0 0;
    padding: 5px 10px;
    text-align: center;
}

#sidebar #tags a {
    margin-bottom: 5px;
}

#post-tags a:hover, #tags a:hover{
    text-decoration: none;
    background: #ffffff;
    color: #3f4a52;
}

#post-tags strong {margin-right: 10px;}

#posts {
    margin-bottom: 10px;
}

#prev-next {
    margin-bottom: 15px;
}

.post-header {
    background: #3f4a52 url(../img/greg-working.png) no-repeat center 0px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
    padding: 60px 0 30px;
}

.post-preview {

}

.post-preview-image {
    width: 100%;
    display: block;
}

.post-preview h2 {
    margin: 0;
}

.post-header h2 {
    font-size: 32px;
    margin: 0;
    color: #ffffff
}

.post-preview .author {
    color: #000;
}

.post-preview .post-preview-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-preview .date {
    color: #555555;
}


#post-meta {
    font-size: 14px;
    color: #e7e7e7;
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

#custom-page {
    margin-bottom: 10px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 30px;
    }
    .navbar-nav>li>a {
        padding: 0;
        background: transparent;
        margin: 0 10px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }

    .post-header {
        padding: 20px 0 20px;
    }

    .navbar-default .navbar-brand {
        padding-top: 10px;
        padding-left: 10px;
        width: 200px;
    }

    .navbar-nav {
        border-bottom: 1px #e7e7e7 solid;
        margin: 0px -15px;
    }

    .navbar-nav>li>a {
        float: left;
        background: transparent;
        margin: 0 10px;
    }

    #post-meta .right {
        float:left;
        text-align: left;
    }
}

div.forms table {
    width: 75%;
    margin: 20px 0;
}

div.forms table th, div.forms table td {
    border : 1px dotted #DDD;
    /* width: 50%; */
    padding: 2px;
}

div.forms table tr {
    border : 1px solid #BBB;
}
