h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

body {
    color: #333;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: auto auto;
}

.right {
    float: right;
    text-align: right;
}

.navbar-default {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-default .navbar-brand {
    display: inline-block;
    width: 140px;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    display:inline;
}

.navbar-default .navbar-nav .active a {
    background: transparent;
    color: #3d80ba;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav .active a:hover {
    color: #3d80ba;
    background: transparent;
}

.navbar-default .navbar-nav .active a {
    color: #3d80ba;
}

.nav {
    padding: 20px 0;
}


#sidebar {
    background: #3f4a52
}

#sidebar .col-md-4 {
    color: #ffffff;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#sidebar a{
    color: #ffffff;
    font-weight: 300;
}

#sidebar h3 {
    font-size: 18px
}

#tags li {
    display: inline-block;
}


#content {

}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
    background: #3f4a52;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
    background: #7b8790;
    color: #ffffff;
    padding: 10px 0;
}

#post-tags a, #tags a {
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 0 5 0 0;
    padding: 5px 10px;
    text-align: center;
}

#post-tags a:hover, #tags a:hover{
    text-decoration: none;
    background: #ffffff;
    color: #3f4a52;
}

#post-tags strong {margin-right: 10px;}


#prev-next {
    padding: 15px 0;
    display: none;
    background: #7b8790
}

.post-header {
    background: url(../img/tech-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
    padding: 120px 0 20px;
}
.post-header h2 {
    font-size: 32px;
    margin: 0;
    color: #ffffff
}

#post-meta {
    font-size: 14px;
    color: #fafafa
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 30px;
    }
    .navbar-nav>li>a {
        padding: 0;
        background: transparent;
        margin: 0 10px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}