{% extends "/html/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}
<div id="posts">
    <div id="page-header" class="post-header">
        <div class="container">
            <h2>Archives</h2>
        </div>
    </div>
    <div class="container">
    {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul>
        {% for post in group.posts %}
        <li>
            {{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
</div>
{% endblock %}
