{% extends "/html/base.html" %}
{% block content %}
<div id="post">
    {% for post in posts %}
    <div {% if forloop.first %} class="post-header" {% else %} class="post-header-preview" {% endif %}>
      <div class="container">
        <h2>{{post.title}}</h2>
        <div id="post-meta">
            {% if post.author %}
            <div class="author">{{post.author}}</div>
            {% endif %}
            <div class="date">{{post.date|date:longDate:en}}</div>
        </div>
      </div>
    </div>

    <div class="container">
      {{post.content|safe}}
      <a href="{{post.uri}}">Continue reading &#8594;</a>
    </div>
    <hr>
    {% endfor %}

    <div id="prev-next">
        {% if prev-uri %}
        <a class="left" href="{{prev-uri}}">&laquo; Prev</a>
        {% endif %}
        {% if next-uri %}
        <a class="right" href="{{next-uri}}">Next &raquo;</a>
        {% endif %}
    </div>

</div>
{% endblock %}
