{% extends "/html/base.html" %}
{% block content %}
<div id="post">
  {% for post in posts %}

  {% if forloop.first %}

  <div class="post-header">
    <div class="container">
      <h2>{{post.title}}</h2>
      <div id="post-meta">
        {% if post.author %}
        <div class="author">
          {% if author-root-uri %}
          <a href="{{blog-prefix}}/{{author-root-uri}}/{{post.author}}.html">{{post.author}}</a>
          {% else %}
          {{post.author}}
          {% endif %}
        </div>
        {% endif %}
        <div class="date">{{post.date|date:longDate:en}}</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if post.image %}
      <div class="col-xs-4 col-sm-2">
        <img src="{{blog-prefix}}/img/{{post.image}}" class="post-preview-image" alt="Post preview" />
      </div>
      {% endif %}

      <div class="col-xs-8 col-sm-10">
        {{post.description|safe}}
        <div style="margin-top: 10px;"><a href="{{post.uri}}">Continue reading &#8594;</a></div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="container post-preview">
    <div class="row">
      {% if post.image %}
      <div class="col-xs-4 col-sm-2">
        <img src="{{blog-prefix}}/img/{{post.image}}" class="post-preview-image" alt="Post preview" />
      </div>
      {% endif %}
      <div class="col-xs-8 col-sm-10">
        <h2>{{post.title}}</h2>
        <div id="post-meta">
          {% if post.author %}
          <div class="author">
            {% if author-root-uri %}
            <a href="{{blog-prefix}}/{{author-root-uri}}/{{post.author}}.html">{{post.author}}</a>
            {% else %}
            {{post.author}}
            {% endif %}
          </div>
          {% endif %}
          <div class="date">{{post.date|date:longDate:en}}</div>
        </div>
        <div class="post-preview-content">
          {{post.description|safe}}
        </div>
        <div><a href="{{post.uri}}">Continue reading &#8594;</a></div>
      </div>
    </div>
  </div>

  {% endif %}

<hr>

{% endfor %}

<div class="container" id="prev-next">
  <div class="col-xs-6">
    {% if next-uri %}
    <a class="right" href="{{next-uri}}">&laquo; Prev</a>
    {% endif %}
  </div>
  <div class="col-xs-6">
    {% if prev-uri %}
    <a href="{{prev-uri}}">Next &raquo;</a>
    {% endif %}
  </div>
</div>

</div>
{% endblock %}
